{% load static %}

<!--core  -->
<script src="{% static 'core/js/main.js' %}"></script>
<script src="{% static 'core/js/modal_add_category.js' %}"></script>

<!--клиенты  -->
<script src="{% static 'client/js/client.js' %}"></script>

<!--услуги  -->
<script src="{% static 'service/js/service.js' %}"></script>
<script src="{% static 'service/js/subcontract.js' %}"></script>
<script src="{% static 'service/js/incoming_operation_add.js' %}"></script>
<script src="{% static 'service/js/out_opetation.js' %}"></script>
<script src="{% static 'service/js/out_operation_suborder_people.js' %}"></script>
<script src="{% static 'service/js/service_sctipts.js' %}"></script>
<script src="{% static 'service/js/add_operation_storage.js' %}"></script>

<!--внутрение счета  -->
<script src="{% static 'operation/js/modal_add_category_office.js' %}"></script>



