{% extends "core/base.html" %}
{% block content %}
    <h2>"{{ client.client_name }}"</h2>
    <h2>Услуга: {{ service }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="contract_number" class="form-label">Имя контракта:</label>
                <input type="text"
                       class="form-control"
                       id="contract_number"
                       value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                       name="contract_number"
                       required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="contract_sum" class="form-label">Сумма:</label>
                <input type="number"
                       class="form-control"
                       id="contract_sum"
                       value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                       name="contract_sum"
                       required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="date_start" class="form-label">Дата начала:</label>
                <input type="date"
                       class="form-control"
                       id="date_start"
                       value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                       name="date_start"
                       required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="date_end" class="form-label">Дата окончания:</label>
                <input type="date"
                       class="form-control"
                       id="date_end"
                       value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                       name="date_end"
                       required>
            </div>
            {% comment %} <label for="bank">На счет</label>
            <input type="hidden" name="bank" value="{{ form.bank.value }}">
            <select class="form-select" name="bank">
                {% for value,name in form.fields.bank.choices %}
                    <option value="{{ value }}"
                            {% if form.bank.value == value %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select> {% endcomment %}
        </div>
        <button type="submit" class="btn btn-dark">Добавить договор</button>
    </form>
    {% for contract in contract %}
        {% comment %} {% if contract.service_id == service.id %} {% endcomment %}
            <p>
                {{ contract.id }}
                {{ contract.contract_number }}
                {{ contract.date_start }}
                {{ contract.date_end }}
                {{ contract.service_id }}
                <button type="submit" class="btn btn-dark">Изменить договор</button>
            </p>
        {% comment %} {% endif %} {% endcomment %}
    {% endfor %}
{% endblock content %}
