{% extends "core/base.html" %}
{% block content %}
    <h2>"{{ client.client_name }}"</h2>
    <h2>Услуга: {{ service }}</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="seosub_people" class="form-label">Имя субподрядчика:</label>
                <input type="text"
                       class="form-control"
                       id="seosub_people"
                       value=""
                       name="seosub_people"
                       required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="seosub_sum" class="form-label">Сумма:</label>
                <input type="number"
                       class="form-control"
                       id="seosub_sum"
                       value="0"
                       name="seosub_sum"
                       required>
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Добавить</button>
    </form>
    {% for subcontractor in subcontractor %}
        {{ subcontractor.id }} {{ subcontractor.seosub_people }}
        <br>
    {% endfor %}
    {% comment %} {% for service in service %}
{% if service.service == service.id %}
<p>
    {{contract.id}}  
      {{contract.contract_number}}
    {{contract.date_start}}
    {{contract.date_end}}
    {{contract.service_id}}
</p>
    {% endif %} {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}
{% endblock content %}
