{% extends "core/base.html" %}


{% block content %}

<h2>"{{ client.client_name}}"</h2>

<br>
<form  method="post" >
    {% csrf_token %}
 <h5>Добавить услугу</h5>
    <input type="hidden" name="window" value="service">

    <input
        id="client"
        type="hidden"
        name="client"
        
        value="{{ client.id }}   " />
  
     <label for="services_name">Выберите услугу</label>

    <input type="hidden" name="services_name" value="{{ form.services_name.value }}">
    
     <select class="form-select" name="services_name">
      {% for value,name in form.fields.services_name.choices %}
        <option value="{{ value }}"{% if form.services_name.value == value %}
                selected{% endif %}>{{ name }}</option>
      {% endfor %}
    </select>
  
  
      <input class='btn btn-dark' type="submit" value="OK" />
    </form>
  
  
<br>
 

    <h5>Услуги</h5>
{% for service in client_service %}
<p>{{service.services_name}}</p>
<a class='btn btn-dark' href="{% url 'clients:contract' client.id service.services_name%}">Добавить договор</a>
{% endfor %}




    {% endblock %}