{% extends "core/base.html" %} 

{% block content %} 
   {% include "client/includes/modal_client_contract.html" %}
<button class="open-modal" data-name="modal-add-client">
  Добавить клиента
</button>
{% comment %} <div id="modal-add-client" class="modal">
  <div class="modal-wrapper">
    <div class="modal-items">
      <div class="modal-client">
        <p class="modal-client_title">Новый клиент</p>
        <input
          class="modal-client_name"
          type="text"
          placeholder="Нименование клиента"
          value=""
        />
        <select class="modal-manager_client" placeholder="Менеджер"></select>
        <div class="modal_add_contract_wrapper">
          <div class="modal_add_contract">
            <select class="modal-service_type"></select>
            <input
              class="modal-client_contract-name"
              type="text"
              placeholder="Номер договора"
            />
            <input
              class="modal-client_contract-date"
              type="date"
              placeholder="Подписан"
            />
            <input
              class="modal-client_contract-sum"
              type="number"
              placeholder="Сумма"
            />
          </div>
        </div>
        <button class="contract_add">ок</button>

        <button class="client_contract_add">Сохранить</button>
      </div>
    </div>
  </div>
</div> {% endcomment %}



<div class="">
  <h2>КЛИЕНТЫ</h2>
  {% for client in clients %}
  <button
    data-name="modal-add-client"
    data-client-id="{{ client.id }}"
    data-client-name="{{ client.client_name }}"
    class="upd_info"
  >
    изменить
  </button>
  <div class="">{{ client.client_name }}</div>
  <div class="">
    {% for contract in client.contract_set.all %}
    <p>{{contract.contract_number}}</p>
    {% endfor %}
  </div>
  {% endfor %} {% comment %} {% for client in clients %}
  <div class="client_item">
    <button
      data-name="upd-client"
      data-client-id="{{ client.id }}"
      class="upd_info"
    >
      изменить
    </button>
    <p>{{ forloop.counter }}</p>
    <p>.</p>
    <h2>{{ client.client_name }}</h2>
  </div>
  <div class="">
    <h3>Менеджер</h3>
  </div>
  <div class="">
    <h3>КОНТРАКТЫ</h3>
  </div>
  <br />
  {% endfor %} {% endcomment %}
</div>
{% endblock content %}
