
<form  method="post" >
 
    <input type="hidden" name="window" value="contract">
    {% csrf_token %} 
   <br>
   <h2>{{ client_id }} </h2>
  
  
     <label for="services_name">Добавить контракт</label>
    
   {% comment %} <input type="hidden" name="services_name" value="{{ services_name.services_name.value }}"> {% endcomment %}
   <p>номер контракта</p>
   <input
   id="сlient"
   type="hidden"
   name="сlient"
   
   value="{{ client_id }}  " />
   <input type="text" name="contract_number" value="">
   <p>сумма контракта</p>
   <input type="number" name="contract_sum" value="">
 
  
  
      <input type="submit" value="OK" />
    </form>