{% extends "core/base.html" %}

{% block content %}
{% include "operation/includes/modal/modal_add_category_office.html" %}

<input type="hidden" id="page_name" value="{{ title }}" />
{% include "operation/includes/category_operation_inside.html" %}
<section class="oper_account">
    <div class="oper_account_sort_wrap">
        <h3>Сортировка</h3>
        <div class = "oper_account_sort_bank" data-sort-operation="1">с ООО</div>
        <div class = "oper_account_sort_bank" data-sort-operation="2">с ИП</div>
        <div class = "oper_account_sort_bank" data-sort-operation="3">с $</div>
    </div>
    <button class="btn_add_category_oper_account"
    data-name="modal-add_category_oper_account"
    data-cat="Офис"
    data-cat-numb="7">+</button>

</section>
<div class="categore_operation">

    {% comment %} {% regroup total_month_entry by created_timestamp|date:"M Y" as total_month_entry_list %}
    {% for created_timestamp in total_month_entry_list %}
        {{ created_timestamp.grouper }}
        <p>{{ created_timestamp|date:"M Y" }}</p>
        <div class="operation_table">
        
            {% for operation in created_timestamp.list %}
           
           
            <p>{{ operation }}{{ operation.type_operation }}{{ operation.amount }}</p>
            {% endfor %}
        </div>
        //
    {% endfor %} {% endcomment %}

    {% for total_month in  total_month_entry%}
        {{total_month.month|date:"M Y" }}
       
        {% if  forloop.first %} 
        {% for cat in cat_oper %}
        {{cat}} <br>
        {% endfor %}{% endif %}
    
    {% endfor %}
</div>
{% endblock content %}