{% extends "core/base.html" %}
{% block content %}
    {% include "operation/includes/modal/oper_account/modal_add_category_office.html" %}
    <input type="hidden" id="page_name" value="{{ title }}" />
    {% include "operation/includes/category_operation_inside.html" %}
    {% include "operation/includes/modal/oper_account/modal_add_operation_oper_account.html" %}
    <section class="oper_account">
        <div class="oper_account_sort_wrap">
            <h3>Сортировка</h3>
            <div class = "oper_account_sort_bank" data-sort-operation="1">с ООО</div>
            <div class = "oper_account_sort_bank" data-sort-operation="2">с ИП</div>
            <div class = "oper_account_sort_bank" data-sort-operation="3">с $</div>
        </div>
        {% comment %} кнопкикатегории офис
        <button class="btn_add_category_oper_account" data-name="modal-add_category_oper_account" data-meta="oper_account" data-sub-cat="1" data-cat="Офис">+</button>
        <br>
        кнопкикатегории реклама
        <button class="btn_add_category_oper_account" data-name="modal-add_category_oper_account" data-meta="oper_account" data-sub-cat="2" data-cat="Реклама">+</button>
        <br>
        кнопкикатегории прочее
        <button class="btn_add_category_oper_account" data-name="modal-add_category_oper_account" data-meta="oper_account" data-sub-cat="3" data-cat="Прочее">+</button>
        <br>
        <br>  {% endcomment %}
        <div class="oper_account_wrapper">
            {% regroup category_operation by sub_categ__name as category_operation_list %}
            <div class="oper_account_category">
                {% for sub_categ in category_operation_list %}
                    {% for category in sub_categ.list %}
                        <!--заголовки категорий с месяцами -->
                        {% if forloop.first %}
                            <div class="oper_account_category_title">
                                <div class="oper_account_category_item oper_account_category_item_categ">
                                    <div class="oper_account_category_count">
                                        {% if forloop.counter < 10 %}0{% endif %}
                                        {{ forloop.counter }}.
                                    </div>
                                    <h3 class="">{{ sub_categ.grouper }}</h3>
                                    <button class="btn_add_category_oper_account"
                                            data-name="modal-add_category_oper_account"
                                            data-meta="oper_account"
                                            data-sub-cat="{{ category.sub_categ }}"
                                            data-cat="{{ sub_categ.grouper }}">+</button>
                                </div>
                                {% for month in month_names %}
                                    <div class="oper_account_category_item oper_account_category_item_month oper_account_item_column">
                                        <h3 class="">{{ month.name_month }} {{ data|date:"Y" }}</h3>
                                    </div>
                                {% endfor %}
                                <div class="oper_account_items_old_fitst">
                                    {% for year in operation_old_year %}
                                        <div class="oper_account_category_item oper_account_category_item_month oper_account_item_column title_oper_acc_year">
                                            <div class="title_suborder_year">
                                                <h3 class="">{{ year.year|date:"Y" }}</h3>
                                                <div class="open-modal btn_year_oper_accounr-shrink title_oper_acc_year_srink "
                                                     data-name=""
                                                     data-month="0"
                                                     data-btn-deg-entry="180"
                                                     data-btn-type-shrink="year"
                                                     data-created-btn="{{ year.year|date:"Y" }}">
                                                    <svg width="16"
                                                         height="16"
                                                         viewBox="0 0 16 16"
                                                         fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="16.0002" y="16" width="16" height="16" rx="8" transform="rotate(-180 16.0002 16)" fill="black"></rect>
                                                        <rect x="13.0002" y="9" width="10" height="2" transform="rotate(-180 13.0002 9)" fill="white"></rect>
                                                        <path d="M7.00024 3L7.00024 5.5L4.50024 8L7.00024 10.5V13L2.00024 8L7.00024 3Z" fill="white"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="display-none-active-title title_suborder_year_months"
                                                 data-shrink="none"
                                                 data-type-shrink="year"
                                                 data-created="{{ year.year|date:"Y" }}">
                                                {% for month in months %}
                                                    <div class="title_suborder_year_month">
                                                        <h5>{{ month }}</h5>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <!--заголовки категорий с закончился -->
                        <!--операции по месяцам  -->
                        <div class="oper_account_items_wrap {% if forloop.first %}oper_account_items_wrap_first{% endif %}{% if forloop.last %}oper_account_items_wrap_last{% endif %}">
                            <div class="oper_account_item_categ">
                                <div class="oper_account_subcateg_count">
                                    {% if forloop.counter < 10 %}0{% endif %}
                                    {{ forloop.counter }}.
                                </div>
                                <div class="oper_account_subcateg_name">{{ category.name }}</div>
                            </div>
                            <div class="oper_account_items">
                                {% for operation in dataset %}
                                    {% if operation.category_operation_name == category.name and operation.year_now == year_now %}
                                        <div class="df_col">
                                            <div class="oper_account_item_month  oper_account_item_column">
                                                <div class="oper_account_item oper_account_item_column ">
                                                    <div class='oper_account_item_num {% if operation.total == 0 %}oper_account_item_column_garay{% endif %} add_operation_oper_account'
                                                         data-name="modal-add_operation_oper_account"
                                                         data-categ-name="{{ category.name }}"
                                                         data-sub-categ-name="{{ sub_categ.grouper }}"
                                                         data-categ-id="{{ category.id }}"
                                                         data-operation-data="{{ operation.month_name }} {{ data|date:"Y" }}"
                                                         data-operation-sum="{{ operation.total }}"
                                                         data-operation-data-month="{{ operation.month }}"
                                                         data-operation-data-year="{{ data|date:"Y" }}"
                                                         data-operation-old-id="{{ operation.id_operation }}">
                                                        {{ operation.total }} ₽
                                                        {% if operation.comments %}
                                                            <div class="comment_operation comment_operation_oper">?</div>
                                                            <div class="comment_operation_hidden_wrap">
                                                                {% for commentr1 in operation.comments %}
                                                                    {% if commentr1 %}
                                                                        <div class="comment_operation_hidden">
                                                                            <div class="previous_operation_title">{{ commentr1.data|date:'j E Y' }} - {{ commentr1.sum }} ₽</div>
                                                                            <div class="previous_operation_comment">{{ commentr1.comment }}</div>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                {% comment %} <h3 class="">{{ operation.month_name }} {{ data|date:"Y" }}</h3> {% endcomment %}
                                            </div>
                                            <div class="oper_account_item_month  oper_account_item_column">
                                                <h3 class="">{{ operation.month_name }} {{ data|date:"Y" }}</h3>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!--операции по годам -->
                            <div class="oper_account_items_old {% if forloop.first %}total_year_oper_first{% endif %}  {% if forloop.last %}total_year_oper_last{% endif %}">
                                {% for all_years in operation_old_year %}
                                    {% for operation_old in dataset_old %}
                                        {% if operation_old.year|cut:" "  == all_years.year|date:"Y" %}
                                            <div class="oper_account_items_old_all_years">
                                                {% for year in operation_old.item %}
                                                    {% for toral_year in year.total_year_in_categ %}
                                                        {% if toral_year.category_operation_name == category.name %}
                                                            <div class="total_year_oper ">
                                                                <p>{{ toral_year.total_month_categ }} ₽</p>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if year.category_operation_name == category.name %}
                                                        <div class="oper_account_items_year_month "
                                                             data-created="{{ all_years.year|date:"Y" }}"
                                                             data-shrink="none"
                                                             data-type-shrink="year">
                                                            <div class="df_col">
                                                                <div class="oper_account_item_month oper_account_item_num add_operation_oper_account {% if year.total_month_categ == 0 %}oper_account_item_column_garay{% endif %} oper_account_item_column oper_account_item_month_text"
                                                                     data-name="modal-add_operation_oper_account"
                                                                     data-categ-name="{{ category.name }}"
                                                                     data-sub-categ-name="{{ sub_categ.grouper }}"
                                                                     data-categ-id="{{ category.id }}"
                                                                     data-operation-data="{{ year.month_name }} {{ year.year|cut:" " }}"
                                                                     data-operation-sum="{{ year.total_month_categ }}"
                                                                     data-operation-data-month="{{ year.month }}"
                                                                     data-operation-data-year="{{ year.year|cut:" " }}"
                                                                     data-operation-old-id="{{ year.id_operation }}">
                                                                    {{ year.total_month_categ }} ₽
                                                                    {% if year.comments %}
                                                                        <div class="comment_operation comment_operation_oper">?</div>
                                                                        <div class="comment_operation_hidden_wrap ">
                                                                            {% for commentr1 in year.comments %}
                                                                                {% if commentr1 %}
                                                                                    <div class="comment_operation_hidden">
                                                                                        <div class="previous_operation_title">{{ commentr1.data|date:'j E Y' }} - {{ commentr1.sum }} ₽</div>
                                                                                        <div class="previous_operation_comment">{{ commentr1.comment }}</div>
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="oper_account_item_month  oper_account_item_column">
                                                                    <h5 class="">{{ year.month_name }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <!--тотал  -->
                        {% if forloop.last %}
                            <div class="oper_account_total_actual_year">
                                <div class="oper_account_category_title">
                                    <div class="oper_account_category_item oper_account_category_item_categ">
                                        <div class="oper_account_category_count">
                                            {% if forloop.counter < 10 %}0{% endif %}
                                            {{ forloop.counter }}.
                                        </div>
                                        <h3 class="">Итого</h3>
                                    </div>
                                    {% for operation_total in dataset %}
                                        {% if   operation_total.total_month_tag == 0 %}
                                            {% if   operation_total.sub_categ == sub_categ.grouper %}
                                                <div class="oper_account_item_month oper_account_category_item_month   oper_account_item_column oper_account_item_total">
                                                    <div class="oper_account_item oper_account_item_column">{{ operation_total.total_month }} ₽</div>
                                                    <h3 class="">{{ operation_total.month_name }} {{ data|date:"Y" }}</h3>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for all_years in operation_old_year %}
                                        {% for operation_old in dataset_old %}
                                            {% if operation_old.year|cut:" "  == all_years.year|date:"Y" %}
                                                <div class="oper_account_items_old_all_years oper_account_items_old_all_years-nobg">
                                                    {% for year in operation_old.item %}
                                                        {% for toral_year in year.total_year_in_categ %}
                                                            {% if toral_year.sub_categ == sub_categ.grouper %}
                                                                <div class="total_year_oper ">
                                                                    <h3>{{ toral_year.total_month }} ₽</h3>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if year.sub_categ == sub_categ.grouper %}
                                                            <div class="oper_account_items_year_month  "
                                                                 data-shrink="none"
                                                                 data-type-shrink="year"
                                                                 data-created="{{ all_years.year|date:"Y" }}">
                                                                <div class="df_col">
                                                                    <div class="oper_account_item oper_account_item_column ">
                                                                        <h5>{{ year.total_month }} ₽</h5>
                                                                    </div>
                                                                    <div class="oper_account_item_month  oper_account_item_column">
                                                                        <h5 class="">{{ year.month_name }}</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <!--тотал закончился -->
                        <!--операции по годам  -->
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
