html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 50px;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}



/* цвета */
:root {
  --text: #080606;
  --brown: #59443F;
  --brown-light: #C3B9B5;
  --orange: #FFC59E ;
  --background: #FBF8F8;
} 