html,
body {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow-x: scroll;
}

a {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: #000;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: #000;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button {
  cursor: pointer;
}

.df {
  display: flex;
}

.di {
  display: inline;
}

.border {
  border: 1px solid #000;
}

.header {
  display: flex;
  justify-content: space-between;

}

.header_nav {
  display: flex;
  gap: 70px;
  margin-bottom: 20px;
}

.header_nav-link {}

.menu-active {
  border-radius: 25px;
  border: 3px solid #000;
  padding: 13px 25px;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -13px;
}

.submenu {
  display: flex;
  gap: 48px;
}

.submenu-link {

  border-radius: 25px;
  border: 3px solid #000;
}

.submenu-active {
  color: #fff;

  background: #000;
}

.submenu-active a {
  color: #fff;
}

.tech_nav {}

.tech_nav-list {}

.tech_nav-link {}

.modal {
  display: none;
  position: absolute;
  background-color: rgba(8, 6, 6, 0.50);

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  /* overflow: hidden; */
  opacity: 1;
  z-index: 1000;
  transition: 0.3s;
}

.modal-active {
  display: block;
}

.modal-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-items {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 43px 50px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.modal-title {
  margin-bottom: 23px;
}

.modal_contract {
  display: flex;
}

.modal input {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: none;

  font-weight: 400;
  /* color: #c8c8c8; */
  font-size: 20px;
  padding: 10px;
}

.modal input::placeholder {


  font-weight: 400;
  color: #c8c8c8;
  font-size: 20px;
}

.modal select {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: none;

  font-weight: 400;

  font-size: 20px;
  padding: 10px;
}


.modal-select .empty {
  color: #c8c8c8;
}

.modal-select {
  color: black;
}

#choice option {
  color: black;
}

.empty {
  color: #c8c8c8;
}

input[type=date] {
  /* width: 126px; */
  color: #c8c8c8;

}

.modal_close {
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  transform: rotate(45deg);
  cursor: pointer;
}

/* 
input[type="date"]:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
} */

::-webkit-calendar-picker-indicator {}

.modal-items-wrap {
  width: 610px;



}

.modal-client_name {
  width: 366px;


}

.input-130 {
  width: 130px;
}

.input-200 {
  width: 200px;
}



.modal_add_contract {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  margin-bottom: 14px;
  width: 100%;
}

.modal-manager_client {
  width: 262px;
  margin-left: 10px;

}

.modal-client_top {
  display: flex;
  margin-bottom: 14px;
}

.client_item {
  display: flex;
}

.table {
  display: flex;

  white-space: nowrap;
  /* overflow: hidden; */
}

.table h3 {
  width: 121px;
}

.table p {
  width: 121px;
}

.client_titles {
  display: flex;
}

.service_title {
  width: 121px;
}

.button_black {
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  padding: 10px 19px;
  background-color: #000;
}

.client_client_meneger {
  display: flex;
  width: 350px;
  align-items: center;
}

.client_contract {
  display: flex;
}

.client_table {
  display: flex;

  margin-top: 33px;
}

.client_client_meneger_client-name {
  width: 170px;
  /* overflow: hidden; */
  white-space: nowrap;
  margin-right: 42px;
}

.client_client_meneger_manager {
  width: 170px;
  /* overflow: hidden; */
  margin-right: 42px;
}

.client_contract_service {
  width: 80px;
  margin-right: 72px;
}

.client_contract_contract_name {
  width: 180px;
  /* overflow: hidden; */
  margin-right: 42px;
  white-space: nowrap;
}

.client_contract_data {
  width: 150px;
  /* overflow: hidden; */
  margin-right: 42px;
}

.client_contract_sum {
  width: 150px;
  /* overflow: hidden; */
  white-space: nowrap;
  margin-right: 42px;
}

.change_btn {
  border: 1px solid #000;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  background-color: #000;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-add-client {}

.clients {
  margin-top: 125px;
}

.clients_wrapper {
 
}

.clients_item_wrapp{
display: flex;flex-direction: column;
width: auto;
}
.bill-month_category-title{
  display: flex;
  padding-top: 21px;
  /* overflow-x: scroll; */
  width: auto;
}

.bill_w-120{
  width: 120px!important;
  margin-top: 33px;
   /* overflow: hidden; */
   display: flex;
   align-items: center;
}
.bill-month_item-wrapper{
  display: flex;
  align-items: flex-end;
 
  white-space: nowrap;
}
.bill_month-title{
  margin-top: 66px;
  
}
.bill-month_result_sum{
  display: flex;
}

.bill-month-client-counter {
  width: 50px;
}
.suborder-bg{
  background-color: #F4F4F4;
  display: flex;
  /* border-radius: 25px; */
}
.suborder_title-bg{
  background-color: #F4F4F4;
  /* border-top-left-radius:25px ;
  border-top-right-radius:25px; */

  /* border-radius: 25px; */
}
.btn_month_bill{
  margin-left: 5px;
}

.bill_oretation-add_title{
  background-color: #F3FCF2;
}

.bill_oretation-exit_title{
  background-color: #FFEDED;
}
.oretation-add-bg{
  margin-left: 20px;
  background-color: #F3FCF2;
  display: flex;
}