html,
body {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* overflow-x: scroll; */
}

a {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: #000;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: #000;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button {
  cursor: pointer;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.df {
  display: flex;
}

.di {
  display: inline;
}

.border {
  border: 1px solid #000;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header_nav {
  display: flex;
  gap: 70px;
  margin-bottom: 20px;
}

.header_nav-link {
}

.menu-active {
  border-radius: 25px;
  border: 3px solid #000;
  padding: 13px 25px;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -13px;
}

.submenu {
  display: flex;
  gap: 48px;
}

.submenu-link {
  border-radius: 25px;
  border: 3px solid #000;
  
}

.submenu-active {
  color: #fff;

  background: #000;
}

.submenu-active a {
  color: #fff;
}

.tech_nav {
}

.tech_nav-list {
}

.tech_nav-link {
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;

  background-color: rgba(8, 6, 6, 0.5);
  /* 
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh; */
  /* overflow: hidden; */
  /* opacity: 1;*/
  z-index: 1000;
  transition: 0.3s;
}

.modal-active {
  display: block;
}

.modal-wrapper {
  position: absolute;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  display: block;

  background: #ddd;
  transform: translate(-50%, -50%);
  /* height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.modal-items {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 14px 24px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.modal-title {
  margin-bottom: 23px;
}

.modal_contract {
  display: flex;
}

.modal input {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: none;

  font-weight: 400;
  /* color: #c8c8c8; */
  font-size: 20px;
  padding: 10px;
}

.modal input::placeholder {
  font-weight: 400;
  color: #c8c8c8;
  font-size: 20px;
}

.modal select {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: none;

  font-weight: 400;

  font-size: 20px;
  padding: 10px;
  width: 130px;
}

.modal-select .empty {
  color: #c8c8c8;
}

.modal-select {
  color: black;
}

#choice option {
  color: black;
}

.empty {
  color: #c8c8c8;
}

input[type="date"] {
  /* width: 126px; */
  color: #c8c8c8;
}

.modal_close {

    font-size: 40px;
    position: absolute;
    right: 4px;
    top: -5px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* 
input[type="date"]:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
} */

::-webkit-calendar-picker-indicator {
}

.modal-items-wrap--610 {
   width: 610px; 
}

.modal-client_name {
  width: 366px;
}

.input-130 {
  width: 130px;
}

.input-200 {
  width: 200px;
}

.modal_add_contract {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  margin-bottom: 14px;
  width: 100%;
  align-items: center;
}

.modal-manager_client {
  width: 262px;
  margin-left: 10px;
}

.modal-client_top {
  display: flex;
  margin-bottom: 14px;
}

.client_item {
  display: flex;
}

.table {
  display: flex;

  white-space: nowrap;
  /* overflow: hidden; */
}

.table h3 {
  width: 121px;
}

.table p {
  width: 121px;
}

.client_titles {
  display: flex;
}

.service_title {
  width: 121px;
}

.button_black {
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 19px;
  background-color: #000;
}

.button_black:disabled {
  background-color: #c9c9c9;
}

.client_client_meneger {
  display: flex;
  width: 350px;
  align-items: center;
  position: relative;
}

.client_contract {
  display: flex;
}

.client_table {
  display: flex;

  margin-top: 33px;
}

.client_client_meneger_client-name {
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 42px;
}

.change_btn {
  cursor: pointer;
  position: absolute;
  left: -30px;
}

.client_client_meneger_manager {
  width: 170px;
  overflow: hidden;
  margin-right: 42px;
}

.client_contract_service {
  width: 80px;
  margin-right: 72px;
}

.client_contract_contract_name {
  width: 180px;
  overflow: hidden;
  margin-right: 42px;
  white-space: nowrap;
}

.client_contract_data {
  width: 150px;
  overflow: hidden;
  margin-right: 42px;
}

.client_contract_sum {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 42px;
}

.modal-add-client {
  position: relative;
  top: 0;
  right: -69%;
  margin-bottom: 20px;
}

.clients {
  margin-top: 125px;
}

.clients_wrapper {
  width: fit-content;
  position: relative;
}

.clients_item_wrapp {
  display: flex;
  flex-direction: column;
  width: auto;
}

.bill-month {
  width: fit-content;
}

.bill-month_category-title {
  width: fit-content;
  display: flex;
  padding-top: 21px;
  align-items: flex-end;
  width: auto;
}
.bill-month_category-result {
  width: fit-content;
  display: flex;
 
  align-items: flex-end;
  width: auto;
}
.title-bill-120 {
  width: 120px !important;
  margin-top: 21px;
  display: flex;
  align-items: center;

  margin-right: 20px;
  padding-left: 20px;
}
.bill_w-120 {
  width: 120px !important;
  margin-top: 33px;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 20px;
}
.bill_w-120-result {
  width: 120px !important;
  margin-top: 7px;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 20px;
}
.bill_w-120-result-upd {
  width: 140px !important;
  margin-top: 7px;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 42px;
      padding-left: 20px;
}

.bill_w-80 {
  width: 100px !important;
  margin-top: 33px;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 20px;
}
.title-bill_w-80 {
  width: 100px !important;
  margin-top: 26px;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 20px;
  padding-left: 20px;
}

.title-bill_w-80-result {
  width: 100px !important;
  margin-top: 7px;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 20px;
  padding-left: 20px;
}
.elem16{
 
}
.bill-month_item-wrapper {
  display: flex;
  align-items: flex-end;

  white-space: nowrap;
}

.bill_month-title {
  margin-top: 66px;
}

.bill-month_result_sum {
  display: flex;
}

.bill-month-client-counter {
  width: 50px;
}

.bill-month-client-del {
  display: flex;
  margin-bottom: 4px;
  position: relative;
  left: -16px;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.2s;
}
.bill-month-del {
  width: 20px;
}

.bill-month-client-del:hover {
  opacity: 1;
}

.suborder-bg {
  background-color: #f4f4f4;
  display: flex;
}
.entry-bg {
  background-color: #f3fcf2;
  display: flex;
}
.out-bg {
  background-color: #FFEDED;
  display: flex;
}
.suborder_title-bg {
  background-color: #f4f4f4;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  margin-left: -20px;
  margin-right: 30px;
}
.suborder_title-bg-result {
 
  display: flex;
  margin-left: -20px;
  margin-right: 30px;
}

.suborder_entry-bg {
  background-color: #f3fcf2;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  margin-left: -20px;
  margin-right: 30px;
}
.suborder_entry-bg-result {
 
  display: flex;
  margin-left: -20px;
  margin-right: 30px;
      align-items: flex-end;
}

.suborder_out-bg {
  background-color: #FFEDED;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  margin-left: -20px;
}

.suborder_subs-oper-bg {
  background-color: #f4f4f4;

  display: flex;
  margin-left: -20px;
  margin-right: 30px;
}

.entry_subs-oper-bg {
  background-color: #f3fcf2;

  display: flex;
  margin-left: -20px;
  margin-right: 30px;
}
.out_subs-oper-bg {
  background-color: #FFEDED;

  display: flex;
  margin-left: -20px;
  
}

.btn_month_bill {
  margin-left: 5px;
  width: 16px;
  height: 16px;
  background: #000;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
}

.bill_oretation-add_title {
  background-color: #f3fcf2;
}
.mr_p_oper {
  margin-right: 20px;
  padding-left: 20px;
}

.bill_oretation-exit_title {
  background-color: #ffeded;
}

.oretation-add-bg {
  margin-left: 20px;
  background-color: #f3fcf2;
  display: flex;
}
.last-loop-bg {
  background-color: #f4f4f4;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  position: relative;
  padding-bottom: 20px;
}

.last-loop-bg-entry {
  background-color: #f3fcf2;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  position: relative;
  padding-bottom: 20px;
}
.last-loop-bg-out {
  background-color: #FFEDED;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  position: relative;
  padding-bottom: 20px;
}
.last-loop-btn-del {
  margin-top: 33px;
}
.last-loop {
  align-items: flex-start;
}
.last-loop-btn {
  padding-top: 33px;
}
.no-validate {
  border: 1px solid red !important;
}

.add-operation-entry {
  cursor: pointer;
  width: 120px;

  height: 100%;

  margin-top: 33px;
}

.bill-month-client-suborder_diff {
  cursor: pointer;
}

.suborder_out_operation {
  cursor: pointer;
}
.fsz15 {
  font-size: 15px;
}
.result_ok {
  color: green;
}

.result_not-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.result_not {
}

.result_not_after {
  position: absolute;
  overflow: visible !important;
  color: red;
  top: 70%;
  z-index: 200;
  font-size: 15px;
  left: 10px;
  white-space: nowrap;
}

.add-operation-out {
  width: 120px;
  height: 100%;

  margin-top: 33px;
}

.oretation-out-bg {
  margin-left: 20px;
  background-color: #ffeded;
  display: flex;
}

.margin_left {
  margin-left: 20px;
}

.p_left {
  padding-left: 20px;
}

.bill-month_result {
  width: fit-content;
  display: flex;

  width: auto;
}

.operation {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.modal_adv_buget {
  display: flex;
  gap: 10px;
  align-items: center;
}

.client_info_modal {
  display: flex;
  gap: 40px;
  margin-top: 28px;
  margin-bottom: 20px;
}

.bill-month_category-ended {
  /* height: 120px; */
}
.modal_adv_budget_all{
  font-weight: 700;
font-size: 20px;
}
.modal_adv_budget_not_use{
  font-weight: 700;
font-size: 15px;
color: #f00;
}
.modal_adv_budget_not_use_slash{
  font-weight: 700;
  font-size: 15px;
  color: #f00;
  display: none;
}

.not_check {
  position: relative;
  overflow: visible;
}

.red {
  color: red;
}

.previous_operation_item {
  display: flex;
}

.wrapper_oper_out_other {
  display: none;
}

.mr40 {
  margin-right: 60px;
}

.btn_month_bill-shrink {
  margin-left: 5px;

  background: #000;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
  
}

 [data-btn-deg-out="180"]{
rotate: 180deg;
 }
 [data-btn-deg-out="0"]{
  rotate: 0deg;
 }
  [data-btn-deg-entry="180"]{
rotate: 180deg;
 }
 [data-btn-deg-entry="0"]{
  rotate: 0deg;
 }
  [data-btn-deg-suborder="180"]{
rotate: 180deg;
 }
 [data-btn-deg-suborder="0"]{
  rotate: 0deg;
 }

.display-none-active,
.display-none-active-other,
.display-none-active-adv,
.display-none-active-title {
  display: flex;
}
[data-shrink="none"] {
  display: none;
}
[data-shrink="block"] {
  display: block;
  display: flex;
}

.shrink-active {
  display: none;
}
.subcontract_del{
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  transform: rotate(45deg);
  cursor: pointer;
}

.modal_add_subcontract:disabled {
  width: 44px;
  height: 44px;
  background: #c9c9c9;
  border-radius: 5px;
  font-weight: 700;
font-size: 20px;
color: #fff;
border:none;
}

.modal_add_subcontract {
  width: 44px;
  height: 44px;
  background: #169e00;
  border-radius: 5px;
  font-weight: 700;
font-size: 20px;
color: #fff;
border:none;
}

#other_sum_namber_out{
  width: 180px;
height: 44px;
}
#operation_comment_out{
  border-radius: 5px;
width: 430px;
height: 89px;
background: #f5f5f5;
border:none;
}


