{% load category_service %}
{% comment %} {% load adv_diff %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="foo,bar" />
    <meta name="description" content="foo" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
          rel="stylesheet" />
    {% include "core/includes/stylesheets.html" %}
   
    <title>1111</title>
  </head>
  <body>
    <div class="preloader">
      <svg class="preloader__image"
           version="1.1"
           id="L9"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px"
           y="0px"
           viewBox="0 0 100 100"
           enable-background=" 0 0 0 0"
           xml:space="preserve">
        <path fill="#000" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
        </path>
      </svg>
    </div>
    <div class="wrapper">
      {% include "core/includes/header_menu.html" %}
      <main class="main">
        {% block content %}
        {% endblock content %}
      </main>
      <footer class="footer">
      </footer>
    </div>
    {% include "core/includes/scripts.html" %}
  </body>
</html>
