{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="foo,bar"/>
    <meta name="description" content="foo"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% comment %} 
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/media.css" /> {% endcomment %}

    <link rel="stylesheet" href="{% static 'core/css/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/css/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/css/media.css' %}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet" />

    <title>1</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <nav>
                <ul class="header_nav">
                    <li class="header_nav-link menu-active"><a href="">Услуги</a>

                    </li>
                    <li class="header_nav-link"><a href="">Внешние счета</a>
                        <!-- <ul class="submenu">
                            <li class="submenu-link"><a href="">ООО</a></li>
                            <li class="submenu-link"><a href="">ИП</a></li>
                            <li class="submenu-link"><a href="">$</a></li>
                        </ul> -->
                    </li>
                    <li class="header_nav-link"><a href="">Внутренние счета</a>
                        <!-- <ul class="submenu">
                            <li class="submenu-link"><a href="">Оперсчет</a></li>
                            <li class="submenu-link"><a href="">Налоги</a></li>
                            <li class="submenu-link"><a href="">Банковские расходы</a></li>
                        </ul> -->
                    </li>
                    <li class="header_nav-link"><a href="">Хранилище</a>
                        <!-- <ul class="submenu">
                            <li class="submenu-link"><a href="">Остатки рекламных бюджетов</a></li>
                            <li class="submenu-link"><a href="">Премии</a></li>
                            <li class="submenu-link"><a href="">Накопительные счета
                                </a></li>
                            <li class="submenu-link"><a href="">Вклады</a></li>
                            <li class="submenu-link"><a href="">Валюта</a></li>
                        </ul> -->
                    </li>
                    <li class="header_nav-link"><a href="{% url 'clients:client' %}">Клиенты</a>
                        <!-- <ul class="submenu">
                            <li class="submenu-link"><a href="">Оперсчет</a></li>
                            <li class="submenu-link"><a href="">Налоги</a></li>
                            <li class="submenu-link"><a href="">Банковские расходы</a></li>
                        </ul> -->
                    </li>

                </ul>
                <ul class="submenu">
                    <li class="submenu-link"><a href="">SEO</a></li>
                    <li class="submenu-link submenu-active"><a href="">ADV</a></li>
                    <li class="submenu-link"><a href="">SMM</a></li>
                    <li class="submenu-link"><a href="">DEV</a></li>
                    <li class="submenu-link"><a href="">SUP</a></li>
                </ul>
            </nav>
            <div class="tech_nav">
                <ul class="tech_nav-list">
                    <li class="tech_nav-link"><a href="">Сотрудники</a></li>
                    <li class="tech_nav-link"><a href="">Клиенты</a></li>
                </ul>
            </div>

        </header>

        <main class="main">
            {% comment %} <section class="sorting">
                <div class="sort">
                    <p class="sort-name">Сортировка</p>
                    <a class="sort-item">долги </a>
                    <a class="sort-item">неоплаченные субподряды</a>
                </div>
            </section> {% endcomment %}
            {% block content %}{% endblock content %}
            {% comment %} <section class="service">
                <div class="service-all">
                    <div class="service-month">
                        <div class="service-month_name">
                            <p class="service-month_name-month">Март</p>
                            <p class="service-month_name-year">2023</p>
                        </div>
                        <div class="service-table">
                            
                        </div>
                    </div>
                </div>
            </section> {% endcomment %}

        </main>

        <footer class="footer"></footer>
    </div>
    {% comment %} <script src="{% static 'core/js/main.js' %}"></script> {% endcomment %}
    {% include "core/includes/scripts.html" %}
</body>

</html>
 