{% extends "core/base.html" %}
{% comment %} {% load category_service %} {% endcomment %}
{% block content %}

{% include "core/includes/modal/add_category.html" %}

<input type="hidden" id="page_name" value="{{ title }}" />
<section class="tech">
   <div class="tech_adv_category">
    <div class="tech_adv_category_title">
        <h3>категории для ADV</h3>
    <button class="btn_add_category_adv"
    data-name="modal-add-category"
    data-cat="ADV">+</button>
    </div>
    
    <div class="tech_adv_category_wrap">
        {% for adv in tech_adv_category %}
        <div class="tech_adv_category_item">
           <p> {% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}.</p>
        <p> {{adv.name}}</p> 
        </div>
        
        {% endfor %}
    </div>

    
</div>
</section>







{% endblock content %}