<div id="modal-add-client" class="modal">
  <div class="modal-wrapper">
    <div class="modal-items">
     <div class="modal_close">+</div>
      <div class="modal-items-wrap">
        <h3 class="modal-client_title modal-title">Новый клиент</h3>
        {% comment %} <form action=""> {% endcomment %}
        <div class="modal-client_top">
        <input required

          class="modal-client_name"
          type="text"
          placeholder="Нименование клиента"
          value=""
        />
        
        <select  required
class="modal-manager_client choice" placeholder="Менеджер"></select>
        </div><div class="modal_contract">
          <div
            id="modal_contract_wrapper"
            class="modal_add_contract_wrapper"
          ></div>
        </div>
        <button class="client_contract_add">Сохранить</button>
      {% comment %} </form> {% endcomment %}
      </div>
    </div>
  </div>
</div>
