{% extends "core/base.html" %}
{% load category_service %}
{% block content %}
  {% comment %} {% get_category_service %} {% endcomment %}
  {% include "service/includes/service_menu.html" %}
  {% include "service/includes/modal/suborder_peple.html" %}
  {% include "service/includes/modal/add_contract_new.html" %}
  {% include "service/includes/modal/subcontract.html" %}
  {% include "service/includes/modal/operation.html" %}
  {% include "service/includes/modal/operation_out.html" %}
  {% include "service/includes/modal/add_contract_change.html" %}
  {% include "service/includes/modal/add_operation_storage.html" %}
  <input type="hidden" id="page_name" value="{{ title }}" />
  <input type="hidden" id="page_name_abc" value="{{ title_name }}" />
  {% comment %} <button class="button new_month" data-cat-service="{{ title }}" data-month="{{ now|date:'m' }}" data-year="{{ now|date:'Y' }}">копировать месяц</button>
  {% endcomment %}
  {% comment %} <div class="open-modal btn_month_bill" data-name="modal-add-bill" data-cat-service="{{ title }}">+</div>   {% endcomment %}
  <div class="bill-sorting-date" data-sort-month="1" bill-sorting-date="1">
    <h3>Период</h3>
    <div class = "btn_sorting_month" data-sort-month="1">Сейчас</div>
    <div class = "btn_sorting_month" data-sort-month="2">Прошлый месяц</div>
    <div class = "btn_sorting_month" data-sort-month="3">3 месяца</div>
    <div class = "btn_sorting_month" data-sort-month="12">Год</div>
    <div class = "btn_sorting_month" data-sort-month="999">Все время</div>
  </div>
  <div class="bill-sorting-operation"
       data-sort-operation="0"
       bill-sorting-oper="0">
    <h3>Сортирoвка</h3>
    <div class = "btn_sorting_operation" data-sort-operation="1">долги</div>
    <div class = "btn_sorting_operation" data-sort-operation="2">неоплаченные субподряды</div>
  </div>
  {% comment %} {% regroup ordered_bill by created_timestamp|date:"M Y" as ordered_bill_list %}
     <ul>
     {% for created_timestamp in ordered_bill_list %}
         <li>{{ created_timestamp.grouper }}
         <ul>
  {% for bill in created_timestamp.list %} {% endcomment %}
    <section class="bill-month">
      {% regroup bills by created_timestamp|date:"M Y" as ordered_bill_list %}
      {% for created_timestamp in ordered_bill_list %}
        {% for bill in created_timestamp.list %}
          {% comment %} {% for bill in bills %} {% endcomment %}
          <div class="bill_month_one-wrap">
            {% ifchanged %}
              <h3 class="bill_month-title">{{ bill.month|date:'F Y' }}</h3>
              <div class="bill-month_category-title">
                <div class="bill-month-del"></div>
                <div class="bill-month-client-counter"></div>
                <div class="bill_w-120">
                  <h3>Клиент</h3>
                </div>
                <div class="bill_w-120">
                  <h3>Договор</h3>
                </div>
                <div class="bill_w-120">
                  <h3>Счёт</h3>
                  {% if bill.created_timestamp|date:'M Y' == now|date:'M Y' %}
                    <button class="open-modal btn_month_bill"
                            data-name="modal-add-bill"
                            data-month="0"
                            data-cat-service="{{ title }}">+</button>
                  {% endif %}
                </div>
                {% if title == 1 %}
                  <div class="bill_w-120">
                    <h3>Ведение</h3>
                  </div>
                {% endif %}
                <div class="suborder_title-bg">
                  <div class="title-bill-120 suborder-bg mr40">
                    <h3>Субподряд</h3>
                    <div class="open-modal btn_month_bill-shrink"
                         data-name=""
                         data-month="0"
                         data-btn-type-shrink="suborder"
                         data-btn-deg-suborder="180"
                         data-created-btn="{{ bill.created_timestamp|date:'m.Y' }}"
                         data-cat-service="{{ title }}">
                      <svg width="16"
                           height="16"
                           viewBox="0 0 16 16"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                        <rect x="16.0002" y="16" width="16" height="16" rx="8" transform="rotate(-180 16.0002 16)" fill="black" />
                        <rect x="13.0002" y="9" width="10" height="2" transform="rotate(-180 13.0002 9)" fill="white" />
                        <path d="M7.00024 3L7.00024 5.5L4.50024 8L7.00024 10.5V13L2.00024 8L7.00024 3Z" fill="white" />
                      </svg>
                    </div>
                  </div>
                  {% if title == 1 %}
                    <div class="display-none-active-title"
                         data-shrink="none"
                         data-type-shrink="suborder"
                         data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                      {% for suborder_name in suborders_name %}
                        <div class="title-bill_w-80 fsz15 suborder-bg  ">
                          <h4>{{ suborder_name.name }}</h4>
                        </div>
                      {% endfor %}
                      <div class="title-bill_w-80 fsz15 suborder-bg "
                           data-shrink="none"
                           data-type-shrink="suborder"
                           data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                        <h4>Премии</h4>
                      </div>
                    </div>
                  {% else %}
                    <div class="display-none-active-title"
                         data-shrink="none"
                         data-type-shrink="suborder"
                         data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                      {% for name_sabs in suborders_name_no_adv %}
                        {% if name_sabs.month|date:'M Y' == created_timestamp.grouper %}
                          <div class="title-bill_w-80 fsz15 suborder-bg  ">
                            <h4>{{ name_sabs.other_id__name }}</h4>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="suborder_entry-bg">
                  <div class="title-bill-120 entry-bg mr40">
                    <h3>Приход</h3>
                    <div class="open-modal btn_month_bill-shrink"
                         data-name=""
                         data-month="0"
                         data-btn-deg-entry="180"
                         data-btn-type-shrink="entry"
                         data-created-btn="{{ bill.created_timestamp|date:'m.Y' }}"
                         data-cat-service="{{ title }}">
                      <svg width="16"
                           height="16"
                           viewBox="0 0 16 16"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                        <rect x="16.0002" y="16" width="16" height="16" rx="8" transform="rotate(-180 16.0002 16)" fill="black" />
                        <rect x="13.0002" y="9" width="10" height="2" transform="rotate(-180 13.0002 9)" fill="white" />
                        <path d="M7.00024 3L7.00024 5.5L4.50024 8L7.00024 10.5V13L2.00024 8L7.00024 3Z" fill="white" />
                      </svg>
                    </div>
                  </div>
                  <div class="title-bill_w-80 fsz15 entry-bg"
                       data-shrink="none"
                       data-type-shrink="entry"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <h4>ООО</h4>
                  </div>
                  <div class="title-bill_w-80 fsz15 entry-bg"
                       data-shrink="none"
                       data-type-shrink="entry"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <h4>ИП</h4>
                  </div>
                  <div class="title-bill_w-80 fsz15 entry-bg"
                       data-shrink="none"
                       data-type-shrink="entry"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <h4>$</h4>
                  </div>
                </div>
                <div class="suborder_out-bg ">
                  <div class="title-bill-120 out-bg mr40">
                    <h3>Расход</h3>
                    <div class="open-modal btn_month_bill-shrink"
                         data-name=""
                         data-month="0"
                         data-btn-deg-out="180"
                         data-btn-type-shrink="out"
                         data-created-btn="{{ bill.created_timestamp|date:'m.Y' }}"
                         data-cat-service="{{ title }}">
                      <svg width="16"
                           height="16"
                           viewBox="0 0 16 16"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                        <rect x="16.0002" y="16" width="16" height="16" rx="8" transform="rotate(-180 16.0002 16)" fill="black" />
                        <rect x="13.0002" y="9" width="10" height="2" transform="rotate(-180 13.0002 9)" fill="white" />
                        <path d="M7.00024 3L7.00024 5.5L4.50024 8L7.00024 10.5V13L2.00024 8L7.00024 3Z" fill="white" />
                      </svg>
                    </div>
                  </div>
                  <div class="title-bill_w-80 fsz15 out-bg "
                       data-shrink="none"
                       data-type-shrink="out"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <h4>ООО</h4>
                  </div>
                  <div class="title-bill_w-80 fsz15 out-bg "
                       data-shrink="none"
                       data-type-shrink="out"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <h4>ИП</h4>
                  </div>
                  <div class="title-bill_w-80 fsz15 out-bg "
                       data-shrink="none"
                       data-type-shrink="out"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <h4>$</h4>
                  </div>
                </div>
              </div>
            {% endifchanged %}
            <div class="bill-month_item-wrapper {% if forloop.last %}last-loop{% endif %}">
              <div class="btn_bill">
                <div class="bill-month-client-del {% if forloop.last %}last-loop-btn-del{% endif %}">
                  <button class=" btn_month_bill btn_month_bill-del "
                          data-name=""
                          data-id-bill="{{ bill.id }}"
                          data-month="0"
                          data-cat-service="{{ title }}">+</button>
                </div>
                <div data-name="modal-change-bill"
                     data-id-bill="{{ bill.id }}"
                     data-cat-service="{{ title }}"
                     data-bill-month-client-name="{{ bill.client.client_name }}"
                     data-bill-month-name="{{ bill.contract_number }}"
                     data-bill-month-sum="{{ bill.contract_sum }}"
                     data-bill-month-sum-adv="{{ bill.adv_all_sum }}"
                     class="change_btn change_btn_bill  {% if forloop.last %}last-loop-modal-add-client{% endif %}">
                  <svg width="16"
                       height="16"
                       viewBox="0 0 16 16"
                       fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="15" height="15" rx="7.5" fill="black" stroke="black" />
                    <path d="M6.98755 10.222H5.79512V8.88838M5.39236 9.2873L10.4677 4.2604C10.8182 3.9132 11.3865 3.9132 11.7371 4.2604C12.0876 4.6076 12.0876 5.17052 11.7371 5.51772L6.58694 10.6188C6.34635 10.8571 6.22606 10.9762 6.09289 11.0786C5.9746 11.1696 5.84886 11.2507 5.71696 11.321C5.56848 11.4001 5.40978 11.4608 5.09238 11.5822L4 12L4.35147 10.9555C4.47142 10.5991 4.5314 10.4208 4.61482 10.2544C4.68891 10.1066 4.77668 9.96592 4.87701 9.83416C4.98999 9.68583 5.12411 9.553 5.39236 9.2873Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </div>
               
              </div>
              <div class="bill-month-client-counter{% if forloop.last %} last-loop-btn {% endif %}">{% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}.
              </div>
              <div class="bill-month-client-name bill_w-120">{{ bill.client.client_name }}</div>
              <div class="bill-month-client-contract bill_w-120">{{ bill.contract_number }}</div>
              <div class="bill-month-client-sum bill_w-120">{{ bill.contract_sum }} ₽</div>
              {% if title == 1 %}<div class="bill-month-client-adv_sum bill_w-120">{{ bill.adv_all_sum }} ₽</div>{% endif %}
              <div class="suborder_subs-oper-bg {% if forloop.last %}last-loop-bg{% endif %}">
                {% if title == 1 %}
                  <div class="mr40 mr_p_oper bill-month-client-suborder_diff bill_w-120 add_sabcontactor {% if bill.chekin_add_subcontr == 0 %}red{% endif %}"
                       data-name="modal-add-subcontract"
                       data-type-suborder="suborder"
                       data-bill-month-id="{{ bill.id }}"
                       data-bill-month-client-name="{{ bill.client.client_name }}"
                       data-bill-month-adv="{{ bill.diff_sum }}"
                       data-bill-month-name="{{ bill.contract_number }}"
                       data-bill-month-data="{{ bill.created_timestamp|date:'F Y' }}"
                       data-bill-sb="{{ bill.subcontractmonth }}">{{ bill.diff_sum }} ₽</div>
                  <div class="display-none-active-adv"
                       data-shrink="none"
                       data-type-shrink="suborder"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    {% for subs_adv in bill.suborders_adv %}
                      {% if bill.chekin_add_subcontr %}
                        {% if  subs_adv.amount  == 0 %}
                          <div class="bill_w-80 fsz15 mr_p_oper">0 ₽</div>
                        {% else %}
                          <div class="bill_w-80 mr_p_oper ">
                            <div class="suborder_out_operation fsz15 "
                                 data-sub-type="1"
                                 data-name="modal-suborder_out_operation"
                                 data-bill-month-id="{{ bill.id }}"
                                 data-bill-month-adv="{{ bill.diff_sum }}"
                                 data-bill-month-client-name="{{ bill.client.client_name }}"
                                 data-bill-month-name="{{ bill.contract_number }}"
                                 data-bill-month-data="{{ bill.created_timestamp|date:'F Y' }}"
                                 data-name-sub=" {{ subs_adv.name_adv }}"
                                 data-id-sub="{{ subs_adv.id_subs }}"
                                 data-id-sub-amount="{{ subs_adv.amount }}">{{ subs_adv.amount }} ₽</div>
                          </div>
                        {% endif %}
                      {% else %}
                        <div class="bill_w-80 red fsz15 mr_p_oper">n/a</div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="display-none-active-other"
                       data-shrink="none"
                       data-type-shrink="suborder"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    {% for sub_other in bill.suborders_other %}
                      {% if sub_other.total_amount != 0 %}
                        {% if forloop.last %}
                          <div class="bill_w-80 fsz15 mr_p_oper">
                            <div class="suborder_out_operation_people"
                                 data-sub-type="2"
                                 data-name="modal-suborder_out_operation_people"
                                 data-bill-month-id="{{ bill.id }}"
                                 data-bill-month-adv="{{ bill.diff_sum }}"
                                 data-bill-month-client-name="{{ bill.client.client_name }}"
                                 data-bill-month-name="{{ bill.contract_number }}"
                                 data-bill-month-data="{{ bill.created_timestamp|date:'F Y' }}"
                                 data-name-sub="Премии"
                                 data-id-sub=" {{ sub_other.id_subs }}"
                                 data-id-sub-amount=" {{ sub_other.total_amount }} ">
                              {{ sub_other.total_amount }}  ₽
                            </div>
                          </div>
                        {% endif %}
                      {% else %}
                        <div class="mr_p_oper bill_w-80 fsz15 {% if bill.chekin_add_subcontr == 0 %}red">
                          n/a
                        {% else %}
                          ">
                          0 ₽
                        {% endif %}
                      </div>
                    {% endif %}
                  {% empty %}
                  {% endfor %}
                </div>
              {% else %}
                <!-- субподряд не адв -->
                {% for other_tot in bill.suborders_other_no_adv %}
                  {% if other_tot.total_amount >= 0 %}
                    <div class="mr40 mr_p_oper bill-month-client-suborder_diff bill_w-120 add_sabcontactor "
                         data-name="modal-add-subcontract"
                         data-type-suborder="awords"
                         data-bill-month-id="{{ bill.id }}"
                         data-bill-month-client-name="{{ bill.client.client_name }}"
                         data-bill-month-adv="{{ bill.diff_sum }}"
                         data-bill-month-name="{{ bill.contract_number }}"
                         data-bill-month-data="{{ bill.created_timestamp|date:'F Y' }}"
                         data-bill-sb="{{ bill.subcontractmonth }}">{{ other_tot.total_amount }} ₽</div>
                  {% else %}
                    {% if other_tot.id_amount != 0 %}{% endif %}
                    <div class="display-none-active-adv"
                         data-shrink="none"
                         data-type-shrink="suborder"
                         data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                      {% for name_sabs in suborders_name_no_adv %}
                        {% if name_sabs.month|date:'M Y' == created_timestamp.grouper %}
                          {% if name_sabs.other_id__name  == other_tot.name %}
                            {% if other_tot.id_amount == 0 %}
                              <div class="bill_w-80 mr_p_oper ">
                                <div class="fsz15 "  data-id-sub-amount="{{ other_tot.id_amount }}">{{ other_tot.id_amount }} ₽</div>
                              </div>
                            {% else %}
                              <div class="bill_w-80 mr_p_oper ">
                                <div class="suborder_out_operation fsz15 "
                                     data-sub-type="1"
                                     data-name="modal-suborder_out_operation"
                                     data-bill-month-id="{{ bill.id }}"
                                     data-bill-month-adv="{{ bill.diff_sum }}"
                                     data-bill-month-client-name="{{ bill.client.client_name }}"
                                     data-bill-month-name="{{ bill.contract_number }}"
                                     data-bill-month-data="{{ bill.created_timestamp|date:'F Y' }}"
                                     data-name-sub=" {{ other_tot.name }}"
                                     data-id-sub="{{ other_tot.id_other }}"
                                     data-id-sub-amount="{{ other_tot.id_amount }}">{{ other_tot.id_amount }} ₽</div>
                              </div>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            {% for oper_entry in bill.get_operation %}
              {% ifchanged %}
                <div class="entry_subs-oper-bg {% if forloop.parentloop.last %}last-loop-bg-entry{% endif %}">
                  <div class=" mr40 mr_p_oper bill-month-client-suborder_diff  add-operation-entry "
                       data-name="modal-add-operation-entry"
                       data-bill-month-id="{{ bill.id }}"
                       data-bill-month-sum="{{ bill.contract_sum }} "
                       data-bill-month-client-name="{{ bill.client.client_name }}"
                       data-bill-month-sum-dont-operation="{{ bill.contract_sum }} "
                       data-bill-month-name="{{ bill.contract_number }}"
                       data-bill-month-operation-entry=" {{ oper_entry.id_operation_entry }} "
                       data-bill-month-data="{{ bill.created_timestamp|date:'F Y' }}">
                    {% if oper_entry.operation_entry_all == bill.contract_sum %}
                      <p class="result_ok">{{ bill.contract_sum }} ₽</p>
                    {% elif oper_entry.diff_operation_entry > 0 %}
                      <div class="result_not-wrap">
                        <p class="result_not">
                          {{ oper_entry.operation_entry_all }} ₽
                          <p class="result_not_after">/долг {{ oper_entry.diff_operation_entry }} ₽</p>
                        </p>
                      </div>
                    {% else %}
                      <div class="result_not-wrap">
                        <p class="result_not">
                          0 ₽
                          <p class="result_not_after">/долг {{ bill.contract_sum }} ₽</p>
                        </p>
                      </div>
                    {% endif %}
                  </div>
                  {% comment %} {% for comm2 in oper_entry.comment_out_bank2 %}{{comm2}}{% endfor %} {% endcomment %}
                  <div class="bill_w-80 mr_p_oper "
                       data-shrink="none"
                       data-type-shrink="entry"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <p class="operation_entry_bank_true fsz15">
                      {% if oper_entry.operation_entry_bank1 %}
                        {{ oper_entry.operation_entry_bank1 }} ₽
                      {% else %}
                        0 ₽
                      {% endif %}
                      {% if oper_entry.comment_entry_bank1 %}
                        <div class="comment_operation">?</div>
                        <div class="comment_operation_hidden_wrap">
                          {% for commentr1 in oper_entry.comment_entry_bank1 %}
                            {% if commentr1 %}
                              <div class="comment_operation_hidden">
                                <div class="previous_operation_title">{{ commentr1.data|date:'j E Y' }} - {{ commentr1.sum }} ₽</div>
                                <div class="previous_operation_comment">{{ commentr1.comment }}</div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </p>
                  </div>
                  <div class="bill_w-80 mr_p_oper "
                       data-shrink="none"
                       data-type-shrink="entry"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <p class="operation_entry_bank_true fsz15">
                      {% if oper_entry.operation_entry_bank2 %}
                        {{ oper_entry.operation_entry_bank2 }} ₽
                      {% else %}
                        0 ₽
                      {% endif %}
                      {% if oper_entry.comment_entry_bank2 %}
                        <div class="comment_operation">?</div>
                        <div class="comment_operation_hidden_wrap">
                          {% for commentr2 in oper_entry.comment_entry_bank2 %}
                            {% if commentr2 %}
                              <div class="comment_operation_hidden">
                                <div class="previous_operation_title">{{ commentr2.data|date:'j E Y' }} - {{ commentr2.sum }} ₽</div>
                                <div class="previous_operation_comment">{{ commentr2.comment }}</div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </p>
                  </div>
                  <div class="bill_w-80 mr_p_oper "
                       data-shrink="none"
                       data-type-shrink="entry"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <p class="operation_entry_bank_true fsz15">
                      {% if oper_entry.operation_entry_bank3 %}
                        {{ oper_entry.operation_entry_bank3 }} ₽
                      {% else %}
                        0 ₽
                      {% endif %}
                      {% if oper_entry.comment_entry_bank3 %}
                        <div class="comment_operation">?</div>
                        <div class="comment_operation_hidden_wrap">
                          {% for commentr3 in oper_entry.comment_entry_bank3 %}
                            {% if commentr3 %}
                              <div class="comment_operation_hidden">
                                <div class="previous_operation_title">{{ commentr3.data|date:'j E Y' }} - {{ commentr3.sum }} ₽</div>
                                <div class="previous_operation_comment">{{ commentr3.comment }}</div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </p>
                  </div>
                </div>
                <div class="out_subs-oper-bg {% if forloop.parentloop.last %}last-loop-bg-out{% endif %}">
                  {% if title == 1 %}
                    <div class=" mr40 mr_p_oper bill-month-client-suborder_diff  add-operation-storage "
                         data-name="modal-add-operation-storage"
                         data-bill-month-id="{{ bill.id }}"
                         data-bill-month-sum="{{ bill.contract_sum }} "
                         data-bill-month-client-name="{{ bill.client.client_name }}"
                         data-bill-month-sum-dont-operation="{{ bill.contract_sum }} "
                         data-bill-month-name="{{ bill.contract_number }}"
                         data-bill-month-operation-entry=" {{ oper_entry.id_operation_entry }} "
                         data-bill-month-data="{{ bill.created_timestamp|date:'F Y' }}"
                         data-bill-month-diff-sum=" {{ oper_entry.diff_operation_out }} "
                         data-id-sub-amount=""
                         data-id-sub="{{ subs_adv.id_subs }}">
                      {% if oper_entry.operation_out_all == bill.diff_sum %}
                        <p class="result_ok">{{ bill.diff_sum }} ₽</p>
                      {% elif oper_entry.diff_operation_out > 0 %}
                        <div class="result_not-wrap">
                          <p class="result_not">
                            {{ oper_entry.operation_out_all }} ₽
                            <p class="result_not_after">/остаток {{ oper_entry.diff_operation_out }} ₽</p>
                          </p>
                        </div>
                      {% else %}
                        <div class="result_not-wrap">
                          <p class="result_not">
                            0 ₽
                            <p class="result_not_after">/остаток {{ bill.diff_sum }} ₽</p>
                          </p>
                        </div>
                      {% endif %}
                    </div>
                  {% else %}
                    <div class=" mr40 mr_p_oper bill-month-client-suborder_diff  add-operation-storage ">
                      {% if oper_entry.diff_operation_out == 0 %}
                        <p class="result_ok">{{ oper_entry.operation_out_all }} ₽</p>
                      {% elif oper_entry.diff_operation_out > 0 %}
                        <div class="result_not-wrap">
                          <p class="result_not">
                            {{ oper_entry.operation_out_all }} ₽
                            <p class="result_not_after">/к выплате {{ oper_entry.diff_operation_out }} ₽</p>
                          </p>
                        </div>
                      {% else %}
                        <div class="result_not-wrap">
                          <p class="result_not">
                            0 ₽
                            <p class="result_not_after">/к выплате  {{ bill.diff_sum }} ₽</p>
                          </p>
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                  <div class="bill_w-80 mr_p_oper"
                       data-shrink="none"
                       data-type-shrink="out"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <p class="operation_entry_bank_true fsz15">
                      {% if bill.chekin_add_subcontr %}
                        {% if oper_entry.operation_out_bank1 %}
                          {{ oper_entry.operation_out_bank1 }} ₽
                        {% else %}
                          0 ₽
                        {% endif %}
                      {% else %}
                        n/a
                      {% endif %}
                      {% if oper_entry.comment_out_bank1 %}
                        <div class="comment_operation">?</div>
                        <div class="comment_operation_hidden_wrap">
                          {% for comm1 in oper_entry.comment_out_bank1 %}
                            {% if comm1 %}
                              <div class="comment_operation_hidden">
                                <div class="previous_operation_title">{{ comm1.data|date:'j E Y' }} - {{ comm1.sum }} ₽</div>
                                <div class="previous_operation_comment">{{ comm1.comment }}</div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </p>
                  </div>
                  <div class="bill_w-80 mr_p_oper"
                       data-shrink="none"
                       data-type-shrink="out"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <p class="operation_entry_bank_true fsz15">
                      {% if bill.chekin_add_subcontr %}
                        {% if oper_entry.operation_out_bank2 %}
                          {{ oper_entry.operation_out_bank2 }} ₽
                        {% else %}
                          0 ₽
                        {% endif %}
                      {% else %}
                        n/a
                      {% endif %}
                      {% if oper_entry.comment_out_bank2 %}
                        <div class="comment_operation">?</div>
                        <div class="comment_operation_hidden_wrap">
                          {% for comm2 in oper_entry.comment_out_bank2 %}
                            {% if comm2 %}
                              <div class="comment_operation_hidden">
                                <div class="previous_operation_title">{{ comm2.data|date:'j E Y' }} - {{ comm2.sum }} ₽</div>
                                <div class="previous_operation_comment">{{ comm2.comment }}</div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </p>
                  </div>
                  <div class="bill_w-80 mr_p_oper"
                       data-shrink="none"
                       data-type-shrink="out"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <p class="operation_entry_bank_true fsz15">
                      {% if bill.chekin_add_subcontr %}
                        {% if oper_entry.operation_out_bank3 %}
                          {{ oper_entry.operation_out_bank3 }} ₽
                        {% else %}
                          0 ₽
                        {% endif %}
                      {% else %}
                        n/a
                      {% endif %}
                      {% if oper_entry.comment_out_bank3 %}
                        <div class="comment_operation">?</div>
                        <div class="comment_operation_hidden_wrap">
                          {% for comm3 in oper_entry.comment_out_bank3 %}
                            {% if comm3 %}
                              <div class="comment_operation_hidden">
                                <div class="previous_operation_title">{{ comm3.data|date:'j E Y' }} - {{ comm3.sum }} ₽</div>
                                <div class="previous_operation_comment">{{ comm3.comment }}</div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </p>
                  </div>
                </div>
              {% endifchanged %}
            {% endfor %}
          </div>
        </div>
        {% if forloop.last %}
          <div class="bill-month_category-result bill-month_category-ended">
            <div class="bill-month-del"></div>
            <div class="bill-month-client-counter"></div>
            <div class="bill_w-120-result">
              <h3>Итого</h3>
            </div>
            <div class="bill_w-120-result"></div>
            {% for total_months in total_month %}
              {% if total_months.month|date:'M Y' == created_timestamp.grouper %}
                <div class="bill_w-120-result">
                  <h3>{{ total_months.contract_sum }} ₽</h3>
                </div>
                {% if title == 1 %}
                  <div class="bill_w-120-result">
                    <h3>{{ total_months.adv_all_sum }} ₽</h3>
                  </div>
                  <div class="suborder_title-bg-result">
                    <div class="bill_w-120-result bill_w-120-result-upd">
                      <!-- ведение-->
                      <h3>{{ total_months.diff_sum }} ₽</h3>
                      <div class="elem16"></div>
                    </div>
                    <div class="display-none-active-title"
                         data-shrink="none"
                         data-type-shrink="suborder"
                         data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                      {% for subs_adv in  bill_month %}
                        {% if subs_adv.month|date:'M Y' == created_timestamp.grouper %}
                          {% for  key, value in subs_adv.sumorders.items %}
                            <div class="title-bill_w-80-result fsz15 ">
                              <h4>{{ value }} ₽</h4>
                            </div>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                      {% comment %} {% for total_adv in obj_suborder_adv %}
                        {% for total_advs in total_adv %}
                          {% if total_advs.month|date:'M Y' == created_timestamp.grouper %}
                            <div class="title-bill_w-80-result fsz15 ">
                              <h4>{{ total_advs.total_amount }} ₽</h4>
                            </div>
                            {% else %}
                          {% endif %}
                        {% endfor %} 
                      {% endfor %}  {% endcomment %}
                      {% for obj_suborder_oth in bill_now_mohth_name %}
                        {% if obj_suborder_oth.month|date:'M Y' == created_timestamp.grouper %}
                          {% ifchanged %}
                            <div class="title-bill_w-80-result fsz15 ">
                              <h4>{{ obj_suborder_oth.total_amount_other }} ₽</h4>
                            </div>
                          {% endifchanged %}
                        {% else %}
                        {% endif %}
                        {% comment %} <div class="title-bill_w-80-result fsz15 ">
                              <h4>0 ₽</h4>
                            </div> 
                        {% endcomment %}
                      {% endfor %}
                    </div>
                  </div>
                {% else %}
                  <!--субордер если не адв  -->
                  <div class="suborder_title-bg-result">
                    <div class="bill_w-120-result bill_w-120-result-upd">
                      <!--тотал субордер -->
                      <h3>{{ total_months.total_suborder_not_adv|default:"0" }} ₽</h3>
                      <div class="elem16"></div>
                    </div>
                    <div class="display-none-active-title"
                         data-shrink="none"
                         data-type-shrink="suborder"
                         data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                      {% for obj_suborder in suborders_name_no_adv %}
                        {% if obj_suborder.month|date:'M Y' == created_timestamp.grouper %}
                          <div class="title-bill_w-80-result fsz15 ">
                            <h4>{{ obj_suborder.total }} ₽</h4>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
                <!--тотал приход-->
                <div class="suborder_entry-bg-result">
                  {% if total_months.total_diff_operation_entry == 0 %}
                    <div class="bill_w-120-result-upd mr40">
                      <h3>{{ total_months.contract_sum }}  ₽</h3>
                    </div>
                  {% else %}
                    <div class="title-bill-120  mr40 not_check">
                      <h3 class="result_not">
                        <h3 class="result_not_before">{{ total_months.sum_entry_operation }} ₽</h3>
                        <p class="result_not_after">/долг {{ total_months.total_diff_operation_entry }} ₽</p>
                      </h3>
                    </div>
                  {% endif %}
                  <div class="title-bill_w-80-result fsz15 "
                       data-shrink="none"
                       data-type-shrink="entry"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <h4>{{ total_months.bank1_entry|default:"0" }} ₽</h4>
                  </div>
                  <div class="title-bill_w-80-result fsz15 "
                       data-shrink="none"
                       data-type-shrink="entry"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <h4>{{ total_months.bank2_entry|default:"0" }} ₽</h4>
                  </div>
                  <div class="title-bill_w-80-result fsz15 "
                       data-shrink="none"
                       data-type-shrink="entry"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <h4>{{ total_months.bank3_entry|default:"0" }} ₽</h4>
                  </div>
                </div>
                <!--тотал расход-->
                <div class="suborder_entry-bg-result">
                  {% if  title == 1 %}
                    {% if total_months.sum_out_operation == total_months.diff_sum %}
                      <div class="bill_w-120-result-upd mr40">
                        <h3>{{ total_months.diff_sum }} ₽</h3>
                      </div>
                    {% elif  total_months.sum_out_operation == 0 %}
                      <div class="title-bill-120  mr40 not_check">
                        <h3 class="result_not">
                          <h3>{{ total_months.sum_out_operation }} ₽</h3>
                          <p class="result_not_after">/остаток {{ total_months.diff_sum }} ₽</p>
                        </h3>
                      </div>
                    {% else %}
                      <div class="title-bill-120  mr40 not_check">
                        <h3 class="result_not">
                          <h3>{{ total_months.sum_out_operation }} ₽</h3>
                          <p class="result_not_after">/остаток {{ total_months.total_diff_operation_out }} ₽</p>
                        </h3>
                      </div>
                    {% endif %}
                  {% else %}
                    <!--тут вывод по исходим операциям не адв-->
                    {% if  total_months.total_suborder_not_adv_diff %}
                      {% if total_months.total_suborder_not_adv == total_months.sum_out_operation %}
                        <div class="bill_w-120-result-upd mr40">
                          <h3>{{ total_months.total_suborder_not_adv }} ₽</h3>
                        </div>
                      {% else %}
                        <div class="title-bill-120  mr40 not_check">
                          <h3 class="result_not">
                            <h3>{{ total_months.sum_out_operation }} ₽</h3>
                            <p class="result_not_after">/к выплате {{ total_months.total_suborder_not_adv_diff }} ₽</p>
                          </h3>
                        </div>
                      {% endif %}
                    {% else %}
                      <div class="bill_w-120-result-upd mr40">
                        <h3>0 ₽</h3>
                      </div>
                    {% endif %}
                    {% if  total_months.sum_out_operation == 0 and total_months not in total_suborder_not_adv_diff %}
                      <div class="title-bill-120  mr40 not_check">
                        <h3 class="result_not">{{ total_months.sum_out_operation }} ₽</h3>
                      </div>
                    {% endif %}
                  {% endif %}
                  <div class="title-bill_w-80-result fsz15 "
                       data-shrink="none"
                       data-type-shrink="out"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <h4>{{ total_months.bank1_out|default:"0" }} ₽</h4>
                  </div>
                  <div class="title-bill_w-80-result fsz15 "
                       data-shrink="none"
                       data-type-shrink="out"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <h4>{{ total_months.bank2_out|default:"0" }} ₽</h4>
                  </div>
                  <div class="title-bill_w-80-result fsz15 "
                       data-shrink="none"
                       data-type-shrink="out"
                       data-created="{{ bill.created_timestamp|date:'m.Y' }}">
                    <h4>{{ total_months.bank3_out|default:"0" }} ₽</h4>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </section>

{% endblock content %}
