{% extends "core/base.html" %}

{% block content %}

{% include "service/includes/service_menu.html" %}
{% include "service/includes/modal/add_contract_new.html" %}
<input type="hidden" id="page_name" value="{{ title }}">


<button class="open-modal" data-name='modal-add-bill'>Добавить счет</button>
<div>

   
   <div class="clients_month">
     <h3 class="clients-month_title service_title">февраль</h3>
     <div class="client_titles"></div>
     {% for month_bill_all in month_bill_all %}
     <div class="client_item">
       <div class="client-name table">
         <span class="client-name_number">{{ forloop.counter }}</span>
         <h3 class="service_title client-name_title">Клиент</h3>
         <p class="client-name_text"></p>
       </div>
       <div class="client-contract table">
         <h3 class="service_title client-contract_title">Договор</h3>
         <p class="client-contract_text">
         
         </p>
       </div>
       <div class="client-bill-sum table">
         <h3 class="service_title client-sum_title">Счёт</h3>
         <p class="client-sum_text">
           
         </p>
       </div>
       <div class="client-adv-sum table">
         <h3 class="service_title client-adv-sum_title">Ведение</h3>
         <p class="client-adv-sum_text">
         
         </p>
       </div>
     </div>
     {% endfor %}
   </div>
 </div>
{% comment %} 
{% include "service/month.html" %} {% endcomment %}

{{ categorys }}111
{% endblock content %}
