{% extends "core/base.html" %}
 {% load category_service %}
  {% load adv_diff %}
{% block content %}
 {% get_category_service %}
 {% include "service/includes/modal/add_contract_new.html" %}
  {% include "service/includes/modal/subcontract.html" %} 
  {% include "service/includes/modal/operation.html" %}

<input type="hidden" id="page_name" value="{{ title }}" />
<section class="bill-month">
  <button
          class="open-modal btn_month_bill"
          data-name="modal-add-bill"
          {% comment %} data-month="{{ created_timestamp.grouper }} " {% endcomment %}
        >
          +
        </button>
  {% comment %} <button
    class="open-modal modal-new_month button_black"
    data-name="modal-new_month"
  >
    Начать новый месяц?не работает
  </button>

  {% now "M Y" %} {{ month_bill_last.created_timestamp|date:"M Y" }}  {% endcomment %}
  {% regroup ordered_bill by created_timestamp|date:"M Y" as ordered_bill_list %}
  <div class="bill_month_one-wrap">
    {% for created_timestamp in ordered_bill_list %}
    <h3 class="bill_month-title">{{ created_timestamp.grouper }}</h3>

    <div class="bill-month_category-title">
      <div class="bill-month-client-counter"></div>
      <div class="bill_w-120"><h3>Клиент</h3></div>
      <div class="bill_w-120"><h3>Договор</h3></div>
      <div class="bill_w-120">
        <h3>Счёт</h3>
        <button
          class="open-modal btn_month_bill"
          data-name="modal-add-bill"
          data-month="{{ created_timestamp.grouper }} "
        >
          +
        </button>
      </div>
      <div class="bill_w-120"><h3>Ведение</h3></div>
      <div class="bill_w-120 suborder_title-bg"><h3>Субподряд</h3></div>
      {% if title == 1 %}
    
      <div class="bill_w-120 suborder_title-bg"><h4>Я.Директ</h4></div>
      <div class="bill_w-120 suborder_title-bg"><h4>Таргет</h4></div>
      <div class="bill_w-120 suborder_title-bg"><h4>Премии</h4></div>
      {% endif %}

      <div class="bill_w-120 bill_oretation-add_title"><h3>Приход</h3></div>

      <div class="bill_w-120 bill_oretation-add_title"><h4>ООО</h4></div>
      <div class="bill_w-120 bill_oretation-add_title"><h4>ИП</h4></div>
      <div class="bill_w-120 bill_oretation-add_title"><h4>$</h4></div>

      <div class="bill_w-120 bill_oretation-exit_title"><h3>Расход</h3></div>
      <div class="bill_w-120 bill_oretation-exit_title"><h4>ООО</h4></div>
      <div class="bill_w-120 bill_oretation-exit_title"><h4>ИП</h4></div>
      <div class="bill_w-120 bill_oretation-exit_title"><h4>$</h4></div>
    </div>

    {% for bill in created_timestamp.list %}
    <div class="bill-month_item-wrapper">
      <div class="bill-month-client-counter">{{ forloop.counter }}</div>
      <div class="bill-month-client-name bill_w-120">
        {{ bill.client.client_name }}
      </div>
      <div class="bill-month-client-contract bill_w-120">
        {{ bill.additional_contract.contract_number }}
      </div>
      <div class="bill-month-client-sum bill_w-120">
        {{ bill.additional_contract.contract_sum }} ₽
      </div>
      <div class="bill-month-client-adv_sum bill_w-120">
        {{ bill.additional_contract.adv_all_sum }} ₽
      </div>
      <div class="suborder-bg">
        <div
          class="bill-month-client-suborder_diff bill_w-120 add_sabcontactor"
          data-name="modal-add-subcontract"
          data-bill-month-id="{{ bill.id }}"
          data-bill-month-adv="{% diff_adv_sum all_sum=bill.additional_contract.contract_sum all_adv=bill.additional_contract.adv_all_sum %}"
          data-bill-month-client-name="{{ bill.client.client_name }}"
          data-bill-month-name="{{ bill.additional_contract.contract_number }}"
          data-bill-month-data="{{ created_timestamp.grouper }}"
        >
          {% comment %} {% diff_adv_sum all_sum=bill.additional_contract.contract_sum
          all_adv=bill.additional_contract.adv_all_sum %} ₽ {% endcomment %}
        </div>

        {% if title == 1 %}
        <div class="bill_w-120">
          {% comment %} {% for subcontr in bill.subcontractmonth_set.all %} {% if
          subcontr.adv.id == 1 %} {{ subcontr.amount }} {% elif subcontr.adv.id
          != 1 %} {% ifchanged %}0 ₽{% endifchanged %} {% endif %} {% empty %} 0
          ₽ {% endfor %} {% endcomment %}
        </div>
        <div class="bill_w-120">
          {% comment %} {% for subcontr in bill.subcontractmonth_set.all %} {% if
          subcontr.adv.id == 2 %} {{ subcontr.amount }} {% elif subcontr.adv.id
          != 2 %} {% ifchanged %}0 ₽{% endifchanged %} {% endif %} {% empty %} 0
          ₽ {% endfor %} {% endcomment %}
        </div>
        <div class="bill_w-120">
          {% comment %} {% for sum in sum_other %} {{sum.amount__sum}} {% endfor %} {%
          sum_other id_contract=bill.id %} {% endcomment %}
        </div>

        {% endif %}
      </div>
      <div class="oretation-add-bg">
        
        

        <div
          class="bill_w-120 add-operation-entry"
          data-name="modal-add-operation-entry"
          data-bill-month-id="{{ bill.id }}"
          data-bill-month-sum="{{ bill.additional_contract.contract_sum }} "
          data-bill-month-client-name="{{ bill.client.client_name }}"
          data-bill-month-sum-dont-operation="{{ bill.additional_contract.contract_sum }} "
          data-bill-month-name="{{ bill.additional_contract.contract_number }}"
          data-bill-month-operation-entry="
          {% for operation_entry in bill.operationentry_set.all %}{{ operation_entry.id }}-{% endfor %}
        "
          
        >
       
        
        {% if bill.get_all_sum_entry_operation == bill.additional_contract.contract_sum %}
        <p class="result_ok">{{ bill.additional_contract.contract_sum }} ₽</p>
      
        
        {% elif bill.get_all_sum_entry_operation.result > 0 %}
        <div class="result_not-wrap"><p class="result_not">{{bill.get_all_sum_entry_operation.operation_amount}}₽
          <p class="result_not_after">/остаток {{bill.get_all_sum_entry_operation.result}}₽</p>
        </p>  </div>
        {% else %}
        <div class="result_not-wrap"><p class="result_not">0 ₽
          <p class="result_not_after">/остаток {{ bill.additional_contract.contract_sum }}₽</p>
        </p>  </div>
        {% endif %} 
        </div>
       
        <div class="bill_w-120">
    
      
        
        </div>
          <div class="bill_w-120">
          </div> 
          <div class="bill_w-120">
          
          </div> 
      </div>
    </div>
    {% endfor %}
    <div class="bill-month_result_sum">
      <div class="bill-month-client-counter"></div>
      <div class="bill_w-120"><h3>Итого</h3></div>
      <div class="bill_w-120"></div>
      <div class="bill_w-120">
        <h3>
          {% for income in total_income %} 
          {% if income.month|date:"M Y" == created_timestamp.grouper %} {{ income.total_amount }} 
          {% endif %} 
          {% endfor %}
        </h3>
      </div>
      <div class="bill_w-120">
        <h3>
          {% for income_adv in total_adv %} {% if income_adv.month|date:"M Y" == created_timestamp.grouper %} 
          {{ income_adv.total_amount }} 
          {% endif %}
          {% endfor %}
        </h3>
      </div>
      <div class="bill_w-120"><h3>Субподряд</h3></div>
    </div>
    {% endfor %}
  </div>
</section>
{% for d in ordered_bill %} 
  {{ d.created_timestamp }} 
{% endfor %} 

{% endblock content %}
