{% extends "core/base.html" %}

{% block title %}

{% endblock title %}
{% block content %}

{% include "service/includes/service_menu.html" %}

   {% comment %} <button class="open-modal">Добавить счет</button> {% endcomment %}
   {% comment %} <button class="open-modal" data-name='modal-add-bill'>Добавить счет</button>
   <div class="modal ">
      <div class="modal-wrapper">
         <div class="modal-items">
            <div class="modal-bill">
               <p class="modal-bill_title">Добавление счета</p>
               <label for="client">Клиент</label>
               <input name="client"
                      id="client"
                      class="modal-bill_client_check"
                      type="hidden">
               <select class="modal-bill_client">
                
               </select>
               <label for="bill_service">Услуга</label>
               <input name="bill_service"
                      id="bill_service"
                      class="modal-bill_service"
                      type="text" data-id-service="1" value="ADV" disabled placeholder="ADV">
               <label for="bill_contract">Договор</label>
               <input name="bill_contract"
                      id="bill_contract"
                      class="modal-bill_contract"
                      type="text" value="" >
               <label for="bill_data">Период</label>
               <input name="bill_data" id="bill_data" class="modal-bill_data" type="text" value="">
               <label for="sum-all">Сумма</label>
               <input name="sum-all" id="sum-all" class="modal-bill_sum-all" type="number">
               <label for="mentor">Ведение</label>
               <input name="mentor" id="mentor" class="modal-bill_sum-mentor" type="number">
               <button class="bill_add">Добавить счет</button>
            </div>
         </div>
      </div>
   </div> {% endcomment %}

 {% include "service/month.html" %}
   {% comment %} {% include 'service/tamplates/service/month.html' %} {% endcomment %}
   
{% endblock content %}

